body{
    width:80%;
    margin:auto;
    background-color:#E6FAFA;
}

header{
    text-align:center;
}

nav>ul{
    list-style:none;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
}
nav>ul>li>a{
    text-decoration:none;
    width:20px;

}

footer{
    text-align:center;
}

img{
    border-radius:40%;
}

section{
    text-align:left;
}

.dark-mode {
  background-color: black !important;
  color: white !important;
}
.btn1{
    border:2px solid black;
    color:#00AAFF;
    border-radius:8px;

}
.btn1:hover{
    background-color:black;
}

.h1{
    color:#00AAFF;
}
.display-5{
    color:#00AAFF;
    font-family:bold;
}
.fs-2{
    color:#00AAFF;
}
.pb-2{
    color:#00AAFF;
}
.one{

    color:#00AAFF;
    border-radius:8px;
}
.one:hover{
    background-color:black;
}
